# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\cse4101\bootstrap\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# more ignored
/bootstrap.iml
/modules.xml
.idea/
